<div class="c_gutter ~~invert" id="gutter-menu" aria-hidden="true">
  <a href="#" class="c_gutter__close js_gutter-toggle" onfocus="this.blur();" data-target="gutter-menu" title="Close Menu" aria-label="Close Menu">&times;</a>
  <nav class="c_gutter-navigation">
    <ul class="c_gutter-navigation__menu">
      <li class="c_gutter-navigation__item">
        <a class="c_gutter-navigation__link" href="/">Home</a>
      </li>
      {% comment %} <li class="c_gutter-navigation__item"><a class="c_gutter-navigation__link" href="/our-products">Products</a></li> {% endcomment %}
      {% comment %} <li class="c_gutter-navigation__item"><a class="c_gutter-navigation__link" href="/about">About</a></li> {% endcomment %}
      {% comment %} <li class="c_gutter-navigation__item"><a class="c_gutter-navigation__link" href="/product-list">Product List</a></li> {% endcomment %}
        <li class="c_gutter-navigation__item"><a class="c_gutter-navigation__link" href="/news-guides">News &amp; Guides
      </a>
      </li>
        <li class="c_gutter-navigation__item"><a class="c_gutter-navigation__link" href="/product-finder">Product Finder
      </a>
      </li>
      {% comment %} <li class="c_gutter-navigation__item"><a class="c_gutter-navigation__link" href="/our-services">Services</a></li> {% endcomment %}
        <li class="c_gutter-navigation__item --highlight"><a class="c_gutter-navigation__link" href="/contact-us">Contact Us
      </a>
    </li>
  </ul>
</nav></div>
