<div class="c_hero --industry ~~invert">
  <div class="l_container">
    <div class="c_hero__content">
      <h2 class="u_margin-bottom--half --smallcaps u_color--brand">Industries We Supply</h2>
      <h1 class="u_margin-bottom--half">{{ title }}</h1>
      <p class="--lead u_margin-bottom--none">{{ excerpt }}</p>
    </div>
    {%- if featured_image %}<img class="c_hero__image" src="{{ featured_image }}" alt="">{%- endif %}
  </div>
</div>
