.c_company-logo {
  display: block;

  &,
  img,
  svg {
    width: auto;
    max-height: 40px;

    @include breakpoint("sm") {
      max-height: 50px;
    }

    @include breakpoint("lg") {
      max-height: 75px;
    }
  }

  &.--small {
    &,
    img,
    svg {
      max-height: 40px * 0.75;

      @include breakpoint("sm") {
        max-height: 50px * 0.75;
      }

      @include breakpoint("lg") {
        max-height: 60px * 0.75;
      }
    }
  }
}
