@charset "utf-8";

// Core
@use "sass:math";

// Packages
@import "normalize.css/normalize.css";
@import "cookieconsent/build/cookieconsent.min.css";
@import "@glidejs/glide/src/assets/sass/glide.core";

@import "core/fonts";
@import "core/functions";
@import "core/mixins";
@import "core/variables";
@import "core/palettes";

// Elements
@import "elements/anchor";
@import "elements/blockquote";
@import "elements/body";
@import "elements/button";
@import "elements/fieldset";
@import "elements/figure";
@import "elements/heading";
@import "elements/html";
@import "elements/image";
@import "elements/input";
@import "elements/label";
@import "elements/list";
@import "elements/mark";
@import "elements/paragraph";
@import "elements/rule";
@import "elements/table";
@import "elements/video";

// Layouts
@import "layouts/container";
@import "layouts/flex";
@import "layouts/grid";
@import "layouts/stack";

// Components
@import "components/badge";
@import "components/band";
@import "components/banner";
@import "components/box";
@import "components/breadcrumbs";
@import "components/card";
@import "components/company-logo";
@import "components/content";
@import "components/cta";
@import "components/feather-icon";
@import "components/feature-block";
@import "components/footer";
@import "components/footer-group";
@import "components/footer-navigation";
@import "components/gutter";
@import "components/gutter-navigation";
@import "components/header";
@import "components/header-group";
@import "components/hero";
@import "components/icomoon";
@import "components/input-group";
@import "components/lightbox";
@import "components/main";
@import "components/main-group";
@import "components/modal";
@import "components/navigation";
@import "components/notification";
@import "components/pagination";
@import "components/pullquote";
@import "components/site";
@import "components/social-navigation";
@import "components/tag";
@import "components/tipify";
@import "components/topbar";
@import "components/trim";
@import "components/trim-navigation";
@import "components/widget";

// Utilities
@import "utilities/border-radius";
@import "utilities/clear";
@import "utilities/color";
@import "utilities/display";
@import "utilities/float";
@import "utilities/font-family";
@import "utilities/font-size";
@import "utilities/font-weight";
@import "utilities/line-height";
@import "utilities/margin";
@import "utilities/padding";
@import "utilities/text-align";
@import "utilities/text-transform";

// Vendor
@import "vendor/glide";

.c_post-loop {
  &__header {
    @include swatch("background-color", "action");
    display: block;

    img {
      transition: opacity $duration ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__content {
    font-size: $font-size--small;

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.c_usps {
  @include swatch("background-color", "background");
  @include swatch("color", "copy--bold");
  font-size: $font-size--small;
  font-weight: $font-weight--bold;
  padding: spacer(1) 0;

  &__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: spacer(1);
    align-items: center;
    display: flex;

    svg {
      @include swatch("color", "brand");
      margin-right: 0.75em;
    }
  }
}

.c_wibble {
  $this: &;
  @include swatch("background-color", "background");
  @include swatch("color", "copy");
  position: relative;
  padding-top: spacer(5);
  display: block;
  transition:
    background-color $duration ease-in-out,
    transform $duration ease-in-out;

  @include breakpoint("md") {
    padding-top: spacer(6);
  }

  &:hover,
  &:focus {
    @include swatch("background-color", "action");
    transform: scale(1.02);
    outline: none;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: spacer(4);
    position: relative;
    z-index: 2;

    @include breakpoint("sm") {
      padding: spacer(5);
    }

    @include breakpoint("lg") {
      padding: spacer(5);
    }

    svg {
      @include swatch("color", "action");
      height: rem-scale(3);
      margin-left: spacer(2);
      width: rem-scale(3);
    }
  }

  &__image {
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: center;
    opacity: math.div(2, 3);
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.c_wobble {
  @include swatch("background-color", "background--highlight");
  @include swatch("color", "copy");
  align-items: stretch;
  box-shadow: $shadow;
  display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: $line-height--snug;
  overflow: hidden;
  transition: transform $duration ease-in-out;

  &__content {
    flex-grow: 1;
    order: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: spacer(3);
  }

  &__header {
    @include swatch("background-color", "action");
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    order: 2;
    width: 30%;

    @include breakpoint("lg") {
      width: 40%;
    }
  }

  &__image {
    border-radius: initial;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity $duration ease-in;
    width: 100%;
  }
}

a.c_wobble {
  &:hover,
  &:focus {
    outline: none;
    transform: scale(1.03);
  }
}

.c_vertical-navigation {
  &__list {
    @include swatch("border-color", "border");
    border-style: solid;
    border-width: $border-width--thin 0 0 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    @include swatch("border-color", "border");
    border-style: solid;
    border-width: 0 0 $border-width--thin 0;
  }

  &__link {
    color: inherit;
    display: block;
    padding: 0.5em 0;
    font-weight: $font-weight--light;
    font-size: $font-size;

    &.--active {
      @include swatch("color", "action");
    }
  }
}

.u_horizontal-scroller {
  overflow-x: auto;
  padding-bottom: spacer(2);

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    @include swatch("background-color", "brand");
    border-radius: $border-radius--round;
  }

  &::-webkit-scrollbar-track {
    @include swatch("background-color", "background--lowlight");
    border-radius: $border-radius--round;
  }
}
