<div class="c_usps ~~invert">
  <div class="l_container">
    <ul class="c_usps__list">
      <li class="c_usps__item"><svg class="c_feather-icon --sm"><use xlink:href="/assets/feather.svg#clock"/></svg> We save you time</li>
      <li class="c_usps__item"><svg class="c_feather-icon --sm"><use xlink:href="/assets/feather.svg#thumbs-up"/></svg> We save you stress</li>
      <li class="c_usps__item"><svg class="c_feather-icon --sm"><use xlink:href="/assets/feather.svg#credit-card"/></svg> We save you money</li>
      <li class="c_usps__item"><svg class="c_feather-icon --sm"><use xlink:href="/assets/feather.svg#check-circle"/></svg> Next day delivery</li>
      <li class="c_usps__item"><svg class="c_feather-icon --sm"><use xlink:href="/assets/feather.svg#check-circle"/></svg> Free expert advice</li>
    </ul>
  </div>
</div>
