{% layout theme %}

<section class="c_band">
  <div class="l_container --{{ hero_width }}">
    <p class="--lead">LRT Lubricants is a family run business started by two brothers in the quiet farming village of Halsall.
    </p>
    <p>Our aim is to supply the best quality Oils, Lubricants, Tools, Parts and Equipment available locally and nationally with professional advice and help along the way and of course we aim to supply all this at the best possible prices available.
    </p>
    <p>Our address is: {{ contact.address.default }}
    </p>
  </div>
</section>
